---
// Component imports at the top

import "../styles/global.css";
import Box from "../components/Box.astro";
import Scroll from "../components/Scroll.astro";
import Hero from "../components/Hero.astro";
---
<!DOCTYPE html>
<html  dir="rtl" lang="ar" >
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>


      <Hero/>


     <Scroll />

     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
 

</html>	
